li{
    color: rgb(20, 13, 3);
    font-size: 30px;
    /*  display: inline;
    border: 3px solid black;*/
    display: block;
    border: 3px solid fuchsia;
}
*{
    background-color: rgb(212, 202, 202);
}
h1{
    color: rgb(247, 112, 16);
    font-size: 50px;
    text-align: center;
}
h3{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}
.tag-color
{
    color: rgb(35, 226, 115);
}

#li-color{
    color: darkorange;
}